body {
    padding: 0;
    margin: 0;
}

.header {
    background: rgb(71, 163, 71);
    height: 80px;
}

.main {
    display: flex;
    background: lightgrey;
    padding: 20px;
}

.column {
    flex: 1 1 20px;
    height: 400px;
    background: white;
    border-radius: 7px;
    margin: 0 10px;
}

.column:first-child {
    margin-left: 0;
}

.column:last-child {
    margin-right: 0;
}

.column-title {
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 10px;
    border-bottom: 1px solid lightgrey;
}

.column-title p {
    margin: 0;
}

.column-title p span {
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    background: lightblue;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    vertical-align: 3px;
}