body {
    padding: 0;
    margin: 0;
}

.header {
    background: rgb(71, 163, 71);
    height: 80px;
}

.main {
    display: flex;
    background: lightgrey;
    padding: 20px;
}

.column {
    flex: 1 1 20px;
    height: 400px;
    background: white;
    border-radius: 7px;
    margin: 0 10px;
}

.column:first-child {
    margin-left: 0;
}

.column:last-child {
    margin-right: 0;
}

.column-title {
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 10px;
    border-bottom: 1px solid lightgrey;
}

.column-title p {
    margin: 0;
}

.column-title p span {
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    background: lightblue;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    vertical-align: 3px;
}

.column ul {
    margin: 0;
    padding: 10px;
}

.column ul li {
    list-style-type: none;
    margin-bottom: 10px;
    background: white;
}

.column ul li:last-child {
    margin: 0;
}

.contact-card {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.contact-card .top {
    border-bottom: 1px solid lightgrey;
    padding: 10px 20px;
}

.contact-card .top .left,
.contact-card .top .right {
    display: inline-block;
    vertical-align: top;
}

.contact-card .top .left {
    padding-right: 20px;
}

.contact-card .top img {
    height: 50px;
    border-radius: 50%;
}

.contact-card .top span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 800;
}

.contact-card .bottom {
    padding: 10px 20px;
}

.contact-card .bottom .stars {
    background: green;
    border-radius: 4px;
    color: white;
    padding: 5px 8px;
}

.contact-card .bottom span {
    display: inline-block;
}